@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #CCCCCC;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  @media screen {
    background: var(--background);
  }
  font-family: Arial, Helvetica, sans-serif;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
